<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Visualizing the Housing Crisis</title>

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Libre Baskerville"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="../staticFiles/css/style.css" rel="stylesheet" />

    <!-- google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>

  <body>
    <nav id="navbar" class="nav-bar">
      <ul>
        <li id="menu">
          <span id="menu_bttn" class="material-symbols-outlined">menu</span>
        </li>
        <li id="logo">
          <img src="../staticFiles/images/logo.png" alt="viz logo" />
        </li>
        <li id="item3">item3</li>
      </ul>
    </nav>

    <div class="container">
      <div id="introduction" class="content">
        <br />
        <br />
        <br />
        <h1>Visualizing the Housing Crisis</h1>
        <h2>in Richmond, CA</h2>
        <p class="emphasis_p">Everyone deserves housing.</p>
        <div class="main_p">
          <p>
            And yet historical practices of redlining, zoning policy, evictions,
            displacement, rising rents, and lack of affordable housing are just
            some of the elements that contribute to the “housing crisis.”
          </p>
          <p>
            Whether or not you've heard of this term, you might be aware of some
            of these elements that make this such a complex problem.The legacy
            of segregation-based practices and policy contributes to the
            continuation of racial inequity in housing.
          </p>
          <p>
            Understanding the past will help us contextualize the present and
            work towards a better future— by learning more about this crisis, we
            hope to encourage more nuanced discussions.
          </p>
          <p>
            This is the first step in making this happen, so let's get started.
          </p>
        </div>
      </div>
      <div id="image_box">
        <div id="cover" class="theme_img">
          <img id="hand" src="../staticFiles/images/house_hand/hand.png" />
          <img id="house" src="../staticFiles/images/house_hand/house.png" />
          <img id="bg" src="../staticFiles/images/house_hand/bg.png" />
        </div>
        <p class="credit">footnote</p>
      </div>
      <br />
    </div>

    <!-- Welcome to Richmond,CA -->
    <div class="container" id="richmond_container">
      <div id="richmond" class="content">
        <br />
        <br />
        <h2>Welcome to Richmond, CA</h2>
        <div class="main_p">
          <p>
            Richmond presents a compelling case study to understand the housing
            crisis.
          </p>
          <p>
            Located in the East San Francisco Bay Area, the city has been
            racially and economically diverse since its founding. Like many
            cities, Richmond has its own fault lines. There’s a history of
            housing inequity dating back to pre-WWII and a large corporate
            industry presence, both of which have contributed to early stages of
            gentrification and displacement of the city’s Black population.
          </p>
          <p>
            Though Richmond has a unique history, the housing problems faced by
            there echo across many major American cities. Therefore, the story
            we set out to tell will be set in Richmond, but we hope learning
            about what has led to the housing crisis in a specific context can
            help with understanding this issue in its entirety.
          </p>
        </div>
      </div>
      <div class="image_box">
        <iframe
          frameborder="0"
          id="richmond_image"
          class="juxtapose"
          scrolling="no"
          style="width: 90%; height: 75vh"
          src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=d8c33212-e5fe-11ed-b5bd-6595d9b17862"
        ></iframe>
      </div>
    </div>

    <!-- Living in Richmond is not the same for everyone -->
    <div class="center_container">
      <div id="notthesame">
        <div>
          <br />
          <br />
          <h2>Living in Richmond is Not the Same for Everyone</h2>
          <div class="center_p">
            <p>
              Today in Richmond, life looks different based simply on where
              people live. By examining disparities between White and Black
              populations of the city stemming from housing-related
              factors-including zoning, evictions, and home ownership-you will
              see these critical disparities clearly.
            </p>
            <p>
              These disparities all equal the housing crisis, and by learning
              about them, their history, and effects, you are undoing the system
              as we strive for something better.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- How did we get here - Zoning -->
    <div class="container">
      <div id="How_Get_Here" class="content">
        <div class="main_p">
          <h2>How Did We Get Here?</h2>
          <h3>Zoning</h3>
          <p>
            Zoning laws define land use into categories such as commercial,
            residential, or mixed (commercial and residential) use. Often highly
            prescriptive, they also specify which kinds of homes can be built
            and where - for example, single-family homes with a certain setback
            as opposed to dense, multi-family apartment complexes.
          </p>
          <p>This is the City of Richmond’s current zoning map.</p>
        </div>
      </div>

      <div class="image_box">
        <div id="map_container">
          <iframe
            id="zoning_map"
            src="../staticFiles/images/zoning/Zoning-Map-Richmond.PDF#view=FitH&toolbar=0&statusbar=0&messages=0&navpanes=0"
            frameborder="0"
            scrolling="no"
          ></iframe>
        </div>
      </div>
    </div>

    <!-- Racial composition of Richmond in 2021 -->
    <div class="container">
      <div id="racial_compo" class="content">
        <div class="main_p">
          <h3>This is the racial composition of Richmond in 2021.</h3>
          <p>
            As seen in South Richmond, the areas where the city placed temporary
            war housing projects - which housed the majority of shipyard
            workers, who were Black - still remain Black neighborhoods. Beyond
            Richmond, zoning ordinances have been a means of exclusion; it
            encodes in geographic reality the concentration of people of color
            into certain housing types, and parts of the city.
          </p>

          <p class="emphasis_p">
            Much of the racial disparity in housing is due to the historical
            legacy and practice of redlining in the Bay Area.
          </p>
        </div>
      </div>

      <div class="image_box">
        <div
          class="tableauPlaceholder"
          id="viz1682978725193"
          style="position: relative; width: 100%; height: 100%"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Majority Race by Tract (2021) versus Evictions  (Jan 2017- Mar 2022) "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="Eviction_Map_Update&#47;Sheet1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1682978725193");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <!-- Redlining -->
    <div class="container">
      <div id="redlining" class="content">
        <div class="main_p">
          <p>
            Redlining was the discriminatory practice by banks and government
            agencies of denying or withholding home loans in “red” (“hazardous”
            ) neighborhoods in terms of “mortgage security”. This process
            excluded racial minorities, especially Black residents, from
            accessing mortgage opportunities in “green” (“safe investment”) and
            thus excluding them from living in such neighborhoods and
            concentrating them into neighborhoods with lower investment. This is
            an example of a redlining map for nearby Oakland, Berkeley, and
            other cities.
          </p>
          <p class="emphasis_p">
            Zoning, then, is often correlated with redlined and segregated
            neighborhoods. Studies from the Othering and Belonging Institute
            show that single-family zoning is strongly correlated with
            neighborhood characteristics that have a direct impact on residents.
          </p>
        </div>
      </div>

      <div class="image_box">
        <div>
          <img
            id="redline-map"
            style="max-width: 45vw"
            src="..\staticFiles\images\redlining\holc-scan_Oakland_small.jpg"
          />
        </div>
      </div>
    </div>

    <!-- How did we get here - evictions -->
    <div class="container">
      <div id="how_did_we_eviction" class="content">
        <div class="main_p">
          <h2>How Did We Get Here?</h2>
          <h3>Evictions</h3>
          <p>
            When someone is legally evicted, they are ordered by the court to
            leave their residence. Using data from the Eviction Research Network
            on writs of restitution (when a tenant is officially removed from
            their home by the county sheriff after losing their eviction case)
            served from January 2017 to March 2022, we find that there are
            racial disparities in evictions in Richmond. As with zoning, who is
            evicted is related to one's socioeconomic and geographic reality.
          </p>

          <p>
            Using data from the Eviction Research Network on writs of
            restitution (when a tenant is officially removed from their home by
            the county sheriff after losing their eviction case) served from
            January 2017 to March 2022, we find that there are still racial
            disparities in evictions in Richmond. As with zoning, who is evicted
            is related to one's socioeconomic and geographic reality.
          </p>
        </div>
      </div>

      <div class="image_box">
        <div
          class="tableauPlaceholder"
          id="viz1682981065116"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Majority Race by Tract (2021) versus Evictions  (Jan 2017- Mar 2022) "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="Eviction_Map_Update&#47;Sheet1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1682981065116");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <!-- Writs of Restitution by Ethnicity -->
    <div class="container">
      <div id="writs" class="content">
        <div class="main_p">
          <p>
            As seen in this map, the neighborhoods with the highest levels of
            measured evictions are Black and Hispanic. The current housing
            landscape places the vulnerable - who are often racial minorities -
            in precarious situations rather than support them.
          </p>
        </div>
      </div>
      <div class="image_box">
        <div
          class="tableauPlaceholder"
          id="viz1682982824937"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Evictions in Richmond by Race, 2017-2022 "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Evictions_bar_chart&#47;Sheet1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="Evictions_bar_chart&#47;Sheet1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Evictions_bar_chart&#47;Sheet1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1682982824937");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <!-- Housing Today: Racial Disparities in Richmond -->
    <div class="center_container">
      <div id="currentproblem" class="center_p">
        <h2>Housing Today: Racial Disparities in Richmond</h2>
        <p class="emphasis_p">The White vs Black Experience in Richmond</p>
        <p>
          Residents of single-family zones have access to better schools,
          cleaner water, lower exposure to pollutants, higher incomes, lower
          property, and higher property values.
        </p>
        <p>
          In fact, they state,<a
            aria-describedby="footnote-label"
            href="#footnotes"
            id="footnotes-ref"
          >
            “...cities with high levels of single-family zoning have greater
            resources in virtually every statistic we are able to measure. ”</a
          >
        </p>
        <p>
          The following data visualizations stress the dramatic impact of
          restrictive zoning for Richmond's white and black populations, and
          make the case for reversing this impact.
        </p>
      </div>
    </div>

    <!-- Different Realities: Median Household Income -->
    <div class="container">
      <h2>Different Realities: Median Household Income</h2>
      <div id="diff_real" class="content">
        <p>White Residents</p>
        <p>[VIZ PLACEHOLDER]</p>
      </div>
      <div class="image_box">
        <p>Black Residents</p>
        <p>[VIZ PLACEHOLDER]</p>
      </div>
    </div>

    <!-- These factors affect everything -->
    <div class="center_container">
      <p style="font-weight: bold">
        These factors affect
        <a
          aria-describedby="footnote-label"
          href="#everything"
          id="everything-ref"
          >everything</a
        >
        including opportunities for attaining better outcomes throughout their
        lives.
      </p>
    </div>

    <!-- Housing Today: Racial Disparities in Richmond - Evictions -->
    <div class="wide_container">
      <div class="wide_content">
        <div class="main_p">
          <h2>Housing Today: Racial Disparities in Richmond</h2>
          <h3>Evictions</h3>
          <p>
            Being evicted from one's home has significant negative public health
            impacts.
          </p>
          <p>
            Past research shows that eviction is linked with worse physical and
            mental health, more emergency room visits, lower educational
            outcomes for children, food insecurity, and higher rates of future
            homelessness.
          </p>
          <p>
            All of these factors are tied with financial instability, which
            experiencing an eviction exacerbates. This is why federal, state,
            and local governments instituted moratoria on eviction in the early
            days of the COVID-19 pandemic.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <p>[CONTENT] 2 screens of content and graph from figma on evictions</p>
      </div>
    </div>

    <!-- Why are there still issues in housing? -->
    <div class="wide_container">
      <div class="wide_content">
        <div class="main_p">
          <h2>
            Why are there still issues in housing? Problems surrounding
            development today
          </h2>
          <h3>
            Developing housing is prohibitively costly and time consuming.
          </h3>
          <p>
            Multifamily developments must adhere to a variety of regulations in
            order to protect the health and safety of residents, and ensure the
            integrity of the building and surrounding area. While certain
            regulations are very important, it is important to consider that
            each regulation comes at an expense to the project and developer,
            who then in turn increase rents in order to maintain financial
            feasibility. At present, regulation compliance constitutes an
            average of 40% of a project's total development costs, a high
            percentage considering the cost of land, labor, and materials.
            Conflicting standards across regulations and time consuming review
            processes are costly both in terms of time and money. This in turn
            can limit who can afford to develop housing. Increasingly,
            development is being conducted by large corporations who have
            greater access to funding to be able to afford the cost of holding
            onto land through delays, rather than by smaller scale developers
            who may want to invest in the community.
          </p>

          <p>
            Regulatory mandates have been seen as one potential solution to the
            creation of affordable housing. However, adhering to these
            regulations are also costly and may increase the total development
            costs by 30%, which can discourage housing development in the places
            that need it most.
          </p>

          <p>
            Recently, the National Association of Home Builders (NAHB) and the
            National Multifamily Housing Council (NMHC) undertook a joint
            research effort to find out how much government regulation affects
            multifamily housing via a survey distributed to multifamily
            developers. It found that 87.5% of multifamily developers said they
            avoid building in jurisdictions with rent control in place.
          </p>

          <p>
            Another obstacle to housing development is community engagement,
            which occurs during multiple stages of the review processes. While
            it is important for the community to contribute to the development
            of their surroundings, research has shown that “Not in My Backyard”
            (NIMBY) oppositions adds an average of 5.6% to total development
            costs, and can delay project development by an average of 7.4
            months. Additionally, public facing projects tend to receive a lot
            of expectations to fulfill extraordinary “catch-all” solutions to a
            community's multi-faceted efforts.
          </p>
        </div>
      </div>
      <div class="sm_image_box">
        <img src="../staticFiles\images\dev_cost\dev_cost.svg" id="dev_cost" />
      </div>
    </div>

    <!-- What's the fix? -->
    <div class="wide_container">
      <div class="wide_content">
        <h2>What's the Fix?</h2>
        <p>
          There are no quick fixes to the housing crisis affecting residents in
          Richmond and beyond. We've summarized several approaches being pursued
          by people across policy, advocacy, and grassroots/community. However,
          we definitely need movement across all of these areas and more.
          <span style="font-weight: bold"
            >Some of these are contradictory solutions.</span
          >
        </p>
      </div>
    </div>
    <div
      class="flourish-embed flourish-network"
      data-src="visualisation/13600317"
      style="padding:5vh"
    >
      <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>

    <!-- bunch of stuff i need to fix but haven't gotten to  -->
    <div class="container">
      <div id="conclusion" class="content">
        <h2>This is just the beginning</h2>
        <div>
          <img
            id="full_house"
            src="../staticFiles/images/house_hand/full_house.png"
          />
        </div>
        <p>
          This is a big problem space with no one “one size fits all” solution.
          When you think of all the work that needs to be done to help fix this
          problem, it might seem like a maze trying to find where to begin.
        </p>
        <p>
          Well, you just took the first step, empowering action by understanding
          the history that led to the housing crisis, how it manifests today,
          and what solutions might look like.
        </p>
        <p>
          Creating informed citizens will lead to informed action, action that
          can make a difference.
        </p>
      </div>
    </div>

    <div id="nextstep" class="content">
      <p class="emphasis_p">
        Let's imagine a better future, here are a few steps to take to make that
        happen
      </p>
      <p>
        Thank you for allowing us to educate you on the housing crisis. If you
        are feeling empowered and ready to do more, we’ve compiled a list of
        things you can do to become active in finding a solution:
      </p>
      <div>
        <img
          id="step_up"
          src="../staticFiles/images/step/steps.png"
          usemap="#image-map"
        />
        <map name="image-map">
          <area
            alt="sharethiswork"
            title="sharethiswork"
            href="#sharethiswork"
            coords="125,450,223,473"
            shape="rect"
          />
        </map>
        <div class="popup" id="sharethiswork">
          We believe knowledge is power and can lead to fostering positive
          change.
          <a class="close" href="#">X</a>
        </div>
      </div>
    </div>

    <div class="container">
      <footer>
        <ol>
          <li id="footnotes">
            <a
              href="https://belonging.berkeley.edu/single-family-zoning-san-francisco-bay-area#footnote2_bdmrqlk"
              target="_blank"
              >Othering and Belonging Institute</a
            >
            <a href="#footnotes-ref" aria-label="Back to content">↩</a>
          </li>
          <li id="everything">
            <a
              href="https://worksinprogress.co/issue/the-housing-theory-of-everything"
              target="_blank"
              >Works in Progress</a
            >
            <a href="#everything-ref" aria-label="Back to content">↩</a>
          </li>
        </ol>
      </footer>
    </div>
    <iframe
      src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1eD-gRHmMaJ6m3V_Se1UKbPZWC2PFQ67UI_mZuNt_vCY&font=Default&lang=en&initial_zoom=2&height=650"
      width="100%"
      height="650"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      frameborder="0"
    ></iframe>
    <script src="../staticFiles/js/script.js"></script>
  </body>
</html>
