<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" conten qt="" />
    <meta name="author" content="" />

    <title>Visualizing the Housing Crisis</title>

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Libre Baskerville"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="../staticFiles/css/style_v3.css" rel="stylesheet" />

    <!-- google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>

  <body>
    <nav id="navbar" class="nav-bar">
      <ul>
        <li id="menu">
          <span id="menu_bttn" class="material-symbols-outlined">menu</span>
        </li>
        <li id="logo">
          <img src="../staticFiles/images/logo.png" alt="viz logo" />
        </li>
        <li id="item3">item3</li>
      </ul>
    </nav>

    <div class="blank"></div>
    <!-- Introduction -->
    <div class="section_wide">
      <div id="introduction" class="content_wide">
        <h1>Visualizing the Housing Crisis</h1>
        <h2>in Richmond, CA</h2>
        <p class="emphasis_p">Everyone deserves housing.</p>
        <div>
          <p>
            And yet current & historical practices of exclusionary policy,
            rising rents, and slow development have contributed to the
            affordable housing shortage, inequitable evictions, and broad
            displacement that make up the “housing crisis” today. Whether or not
            you’ve heard of this term, it's important to understand the elements
            that make this such a complex problem.
          </p>
          <p class="emphasis_p">
            We believe that knowledge can empower positive change— this crisis
            is complex, but this is a great place to get started.
          </p>
          <p>
            Understanding the legacy of the past will help contextualize the
            present, and work towards a more just future—we hope you'll come
            away with an understand the affordable housing crisis by exploring
            this case study of Richmond, CA.
          </p>
        </div>
      </div>
      <div class="image_box_sm">
        <div id="cover" class="theme_img">
          <img id="hand" src="../staticFiles/images/house_hand/hand.png" />
          <img id="house" src="../staticFiles/images/house_hand/house.png" />
          <img id="bg" src="../staticFiles/images/house_hand/bg.png" />
        </div>
      </div>
      <br />
    </div>

    <!-- Welcome to Richmond,CA -->
    <div class="section_narrow" id="richmond_section">
      <div id="richmond" class="content_narrow">
        <div class="blank_sm"></div>
        <h2>Welcome to Richmond, CA</h2>
        <div class="main_p">
          <p>
            Located in Contra Costa county in the East San Francisco Bay Area,
            the city of Richmond is racially and economically diverse. Richmond
            feels like the average American city. A small, working-class
            suburban community, it went through a period of post-WWII
            industrialization and has a vibrant town known for grassroots
            engagement, including in the housing space.
          </p>
          <h3>Richmond by the numbers:</h3>
          <p>placeholder for SVG of numbers here</p>
        </div>
      </div>
      <div class="image_box_med">
        <iframe
          frameborder="0"
          id="richmond_image"
          class="juxtapose"
          scrolling="no"
          style="width: 100%; height: 70vh"
          src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=d8c33212-e5fe-11ed-b5bd-6595d9b17862"
        ></iframe>
      </div>
    </div>

    <!-- Living in Richmond is not the same for everyone -->
    <div class="section_narrow">
      <div class="content_narrow">
        <h2>Living in Richmond is Not the Same for Everyone</h2>
        <p>
          Like many cities across the United States, life in Richmond is
          different depending on who you are and where you live. We see this
          most clearly by looking at the different impacts of the housing crisis
          on different groups of people, and most starkly in the housing
          outcomes between White and Black populations. Let’s look at some of
          these differences across evictions, zoning, and renting vs.
          homeownership.
        </p>
        <br />
      </div>
    </div>
    <!-- Zoning -->
    <div class="center_section">
      <div class="content_center">
        <h3 style="text-align: center">Where you live</h3>
        <p>
          Zoning laws shape how we live. From commercial shopping centers to
          farms to new housing, they govern what can be built, and where. These
          highly prescriptive rules dictate construction between single-family
          homes and dense multi-family apartment complexes. Research by the
          Othering and Belonging Institute shows that residing in single-family
          zones is highly correlated with better quality-of-life: in fact, they
          state, “...cities with high levels of single-family zoning have
          greater resources in virtually every statistic we are able to
          measure.”
        </p>
        <p>Placeholder for SFZ vs MFZ viz</p>
        <p>
          Unfortunately, residence in single family zones break sharply on
          racial lines. White residents are more likely to live in single-family
          zones, while Black residents are more likely to reside in multifamily
          zones.
        </p>
        <div class="blank"></div>
      </div>

      <!-- <div class="image_box_med">
        <div class="blank_sm"></div>
        <img
          id="restrictive_cov"
          src="..\staticFiles\images\living_richmond_not_same\Screenshot 2023-05-02 122039.png"
        />
        <p class="credit" id="cov_crdt">Fairmede(Hilltop) Racial Covenant</p>
        <p class="emphasis_p" id="cov_txt">
          Restrictive covenants, like the one above, explicitly restricted the
          sale or rent of properties to non-white residents. Although
          unenforceable today, the text can still be found in some leases.
        </p>
      </div> -->
    </div>

    <!-- Renting vs. Owning: Building Generational Wealth -->
    <div class="center_section">
      <div class="content_center">
        <h3 style="text-align: center">Who owns homes in Richmond?</h3>
        <p>
          Homeownership is one of the primary methods for building generational
          wealth and accessing the improved quality-of-life that comes with it.
          Owning a home can provide greater stability than renting by allowing
          residents to stay in their community, build long-term equity, and to
          invest in their community’s education and other public services
          through their home’s property taxes.  Like many other cities in
          California, Richmond’s homeownership has often been restricted to
          wealthy white neighborhoods and maintained through policies such as
          Proposition 13, which defines state increase in property tax. 
        </p>
        <p>
          In Richmond, white residents own homes at more than 2x Black residents
          and 1.3x Hispanic residents. For renting, Hispanic residents rent
          almost 2x more and Black residents rent around 1.5x more than White
          residents.
        </p>
        <div class="blank_sm"></div>
      </div>
    </div>

    <!-- Evictions -->
    <div class="center_section">
      <div class="content_center">
        <h3 style="text-align: center">Who faces eviction?</h3>
        <p>
          Who is evicted is related to one’s socioeconomic and geographic
          reality. Eviction is one of the most common methods of displacement,
          which is when a resident is forced to move against their will.
          Displacement can have negative effects ranging from worse physical and
          mental health, more emergency room visits, lower educational outcomes
          for children, food insecurity, to higher rates of future homelessness.
          Using data from when tenants are officially removed from their home by
          the county sheriff from January 2017 to March 2022, the Eviction
          Research Network finds that there are significant racial disparities
          in evictions in Richmond. Note that this dataset is a severe
          undercount of the actual number of evictions occurring, but it is
          still representative of a larger trend.
        </p>
        <p>
          Using data on writs of restitution (when a tenant is officially
          removed from their home by the county sheriff after losing an eviction
          case) served from January 2017 to March 2022, the Eviction Research
          Network finds that there are significant racial disparities in
          evictions in Richmond. Note that this dataset is a severe undercount
          of the actual number of evictions occurring, but it is still
          representative of a larger trend.
        </p>
        <p>
          Who is evicted is related to one’s socioeconomic and geographic
          reality. All of these factors are tied with financial instability and
          housing vulnerability, which experiencing an eviction exacerbates.
        </p>
      </div>
    </div>

    <div class="section_narrow" style="margin-top: 0">
      <div class="content_narrow">
        <div class="blank"></div>
        <div class="blank_sm"></div>
        <p>
          As seen in this map, the neighborhoods with the highest levels of
          recorded evictions are the Iron Triangle, Panhandle, and Hilltop.
          These neighborhoods are predominantly Black and Hispanic. The current
          housing landscape places the vulnerable - who are often racial
          minorities - in precarious situations rather than support them.
        </p>
      </div>
      <div class="image_box_med">
        <div
          class="tableauPlaceholder"
          id="viz1682981065116"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Majority Race by Tract (2021) versus Evictions  (Jan 2017- Mar 2022) "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="Eviction_Map_Update&#47;Sheet1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;Eviction_Map_Update&#47;Sheet1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1682981065116");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>

    <div class="section_narrow" style="margin-top: 0">
      <div class="content_narrow">
        <div
          class="tableauPlaceholder"
          id="viz1683063266683"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Yearly evictions in Richmond, CA area over time by race "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ev&#47;evictionovertime&#47;Sheet2&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="evictionovertime&#47;Sheet2" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ev&#47;evictionovertime&#47;Sheet2&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1683063266683");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>

      <div class="image_box_med">
        <div class="blank"></div>
        <div class="blank_sm"></div>
        <p>
          While moratoria reduced evictions overall during the COVID-19 pandemic
          in 2020, Black and Hispanic residents are still evicted at higher
          rates compared to White and Asian residents. In 2017, there were 3.5
          Black and 2.5 Hispanic evictions for every 1 White eviction. In 2021,
          there were 3.5 Black evictions and 4 Hispanic eviction for every White
          eviction.
        </p>
      </div>
    </div>

    <!-- Redlining -->
    <div class="section_wide" id="redlining">
      <div class="content_wide">
        <h1>How did we get here?</h1>
        <p>
          These disparate outcomes for Black and White populations did not occur
          by accident: Much of the racial disparity in housing is due to the
          historical legacy of exclusionary policies, redlining, and
          segregation.
        </p>
        <h3>Explicit Racism in Housing</h3>
        
        <div id="redline_quote_div">
          <p class="emphasis_p" id="redline_quote">
            ...in each city, assigned grades to residential neighborhoods that
            reflected their "mortgage security" that would then be visualized on
            color-coded maps. Neighborhoods receiving the highest grade of
            "A"—colored green on the maps—were deemed minimal risks for banks
            and other mortgage lenders when they were determining who should
            received loans and which areas in the city were safe investments.
            Those receiving the lowest grade of "D," colored red, were
            considered "hazardous."
            <br />
          </p>
          <p class="emphasis_p" id="redline_quote">
            - University of Richmond’s Mapping Inequality Project
          </p>
        </div>
      </div>
    </div>

    <div>
      <img id="redline" src="..\staticFiles\images\redlining\redline.svg" />
      <div class="blank"></div>
    </div>

    <!-- How did we get here? Let's Go Back in Time -->
    <div class="center_section" style="height: fit-content; padding-bottom: 0">
      <div class="content_center" id="history">
        <h1>How Did We Get Here? Let's Go Back in Time</h1>
        <p>
          Now that we understand some of the issues, it is important to ask: how
          did Richmond become what it looks like today?  There is a clear
          history of segregation and racist policies that are rooted in the
          history of Richmond, informing the present housing reality. Richard
          Rothstein documents this history in his book, The Color of Law.
        </p>
      </div>
    </div>
    <div class="section_narrow" id="history_roth">
      <div class="content_narrow" id="history_timepoints">
        <div
          class="tableauPlaceholder"
          id="viz1683067315620"
          style="position: relative"
        >
          <noscript
            ><a href="#"
              ><img
                alt="Richmond, CA Total Population over Time "
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;po&#47;poplineplottotal&#47;Sheet1&#47;1_rss.png"
                style="border: none" /></a></noscript
          ><object class="tableauViz" style="display: none">
            <param
              name="host_url"
              value="https%3A%2F%2Fpublic.tableau.com%2F"
            />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="poplineplottotal&#47;Sheet1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param
              name="static_image"
              value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;po&#47;poplineplottotal&#47;Sheet1&#47;1.png"
            />
            <param name="animate_transition" value="yes" />
            <param name="display_static_image" value="yes" />
            <param name="display_spinner" value="yes" />
            <param name="display_overlay" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
            <param name="filter" value="publish=yes" />
          </object>
        </div>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1683067315620");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
      <div class="image_box_med" style="height: fit-content">
        <p>
          Rothstein’s novel tells the story of Richmond’s residents who moved to
          Richmond for work and saw the city’s population boom. Prior to World
          War 2, Richmond was a small, predominantly agricultural area.
        </p>
        <p>
          However, as the shipyards ran out of White workers, Black workers from
          the South moved to Richmond in large numbers. However, segregated
          public housing and other racially based practices impacted where these
          residents could live. 
        </p>
        <p>
          After the war, the population boom slowed as the government tore down
          its housing projects. Richmond then became an oil town, still with
          racial disparities.
        </p>
        <p>
          Below, we break down a series of historical events that explains the
          issues Rothstein discusses, how segregation became entrenched in the
          city, and how housing could not keep up with the demand. 
        </p>
        <br />
      </div>
    </div>
    <iframe
      src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1eD-gRHmMaJ6m3V_Se1UKbPZWC2PFQ67UI_mZuNt_vCY&font=Default&lang=en&initial_zoom=2&height=650"
      width="100%"
      height="650"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      frameborder="0"
    ></iframe>
    <div class="blank"></div>

    <!-- Issues in Housing Continue Today -->
    <div
      class="section_wide"
      style="height: fit-content; background-color: var(--gray)"
    >
      <div class="content_wide">
        <h1>Issues in Housing Continue Today</h1>
        <p style="width: 75%">
          You might be thinking, how are these problems still prevalent today?
          Why aren't they being dealt with? Why don't we just build more
          housing?
        </p>
        <p>
          Well, there are many reasons and perspectives in potential solutions.
        </p>
        <p>Let's start with the perspectives from developers.</p>
      </div>
    </div>

    <!-- Problems surrounding development today -->
    <div class="center_section" style="height: fit-content">
      <div class="content_center">
        <h2 style="text-align: center">
          Problems surrounding development today
        </h2>
        <p>
          Multifamily developments must adhere to a variety of regulations in
          order to protect the health and safety of residents, and ensure the
          integrity of the building and surrounding area. While certain
          regulations are very important, it is important to consider that each
          regulation comes at an expense to the project and developer, who then
          in turn increase rents in order to maintain financial feasibility. At
          present, regulation compliance constitutes an average of 40% of a
          project's total development costs, a high percentage considering the
          cost of land, labor, and materials. Conflicting standards across
          regulations and time consuming review processes are costly both in
          terms of time and money. This in turn can limit who can afford to
          develop housing. Increasingly, development is being conducted by large
          corporations who have greater access to funding to be able to afford
          the cost of holding onto land through delays, rather than by smaller
          scale developers who may want to invest in the community.
        </p>
        <img
          style="max-width: 45vw; position: relative; left: 10%"
          src="..\staticFiles\images\dev_cost\dev_cost.svg"
        />
      </div>
    </div>

    <!-- What's the fix? -->
    <div
      class="center_section"
      style="height: fit-content; background-color: var(--gray)"
    >
      <div class="content_center">
        <h2 style="text-align: center">What's the Fix?</h2>
        <p>
          There are no quick fixes to the housing crisis affecting residents in
          Richmond and beyond. We've summarized several approaches being pursued
          by people across policy, advocacy, and grassroots/community. However,
          we definitely need movement across all of these areas and more.
          <span style="font-weight: bold"
            >Some of these are contradictory solutions.</span
          >
        </p>
      </div>
    </div>
    <div
      class="flourish-embed flourish-network"
      data-src="visualisation/13600317"
      style="padding: 5vh"
    >
      <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>
    <div class="blank"></div>

    <!-- bunch of stuff i need to fix but haven't gotten to  -->
    <div class="center_section">
      <div id="conclusion" class="content_center">
        <h2 style="text-align: center">This is just the beginning</h2>
        <div style="display: flex; justify-content: center">
          <img
            id="full_house"
            src="../staticFiles/images/house_hand/full_house.png"
          />
        </div>
        <p>
          This is a big problem space with no one “one size fits all” solution.
          When you think of all the work that needs to be done to help fix this
          problem, it might seem like a maze trying to find where to begin.
        </p>
        <p>
          Well, you just took the first step, empowering action by understanding
          the history that led to the housing crisis, how it manifests today,
          and what solutions might look like.
        </p>
        <p>
          Creating informed citizens will lead to informed action, action that
          can make a difference.
        </p>
        <p class="emphasis_p">
          Let's imagine a better future, here are a few steps to take to make
          that happen
        </p>
        <p>
          Thank you for allowing us to educate you on the housing crisis. If you
          are feeling empowered and ready to do more, we’ve compiled a list of
          things you can do to become active in finding a solution:
        </p>
      </div>
    </div>

    <div class="popup" id="popup">
      <p>This is a popup!</p>
      <p>Overlay uses <b>:before</b> and <b>:after</b> pseudo-classes.</p>
      <p>Website will still remain visible behind this popup.</p>
      <a href="#popup" onclick="hide('popup')">Close</a>
    </div>

    <div id="next_steps" class="center_section" style="margin-top: 0">
      <section>
        <div class="square sq1">
          <div id="ns_image_box">
            <object
              type="image/svg+xml"
              data="../staticFiles/images/next_steps/decor.svg"
              id="decor"
            ></object>
            <div class="window">
              <object
                type="image/svg+xml"
                data="../staticFiles/images/next_steps/curtain.svg"
                class="test"
              ></object>
              <button class="button" href="#" onclick="show('popup')">
                Button
              </button>
            </div>
            <object
              type="image/svg+xml"
              data="..\staticFiles\images\next_steps\foreground.svg"
              id="foreground"
            ></object>

            <img
              src="..\staticFiles\images\next_steps\background.svg"
              id="background"
            />
          </div>
        </div>
      </section>
    </div>

    <div class="section_wide">
      <footer>
        <ol>
          <li id="footnotes">
            <a
              href="https://belonging.berkeley.edu/single-family-zoning-san-francisco-bay-area#footnote2_bdmrqlk"
              target="_blank"
              >Othering and Belonging Institute</a
            >
            <a href="#footnotes-ref" aria-label="Back to content">↩</a>
          </li>
          <li id="everything">
            <a
              href="https://worksinprogress.co/issue/the-housing-theory-of-everything"
              target="_blank"
              >Works in Progress</a
            >
            <a href="#everything-ref" aria-label="Back to content">↩</a>
          </li>
        </ol>
      </footer>
    </div>

    <script src="../staticFiles/js/script.js"></script>
  </body>
</html>
